
*{
    box-sizing: border-box;
}

body {
    background-color: rgb(60, 36, 17);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1 {
    color: rgb(138, 123, 112);
    border-color: rgb(138, 123, 112);
    font-size: 4em;
    margin-bottom: 1em; 
}

    .btn {
    background-color: rgb(235, 233, 231);
    border-radius: 10px;
    border-color: rgb(138, 123, 112);
    color: rgb(138, 123, 112);
    margin: 1rem;
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}